<div class="wrapper">
    <div class="main-content">
        <div class="actions-container">
            <div class="actions">
                <button mat-fab color="accent" routerLink="/authenticate"><mat-icon>account_circle</mat-icon></button>
            </div>
        </div>
        <div class="header">
            <h1 id="app-title">Bienvenido a <span class="app-name">{{appname}}.</span></h1>
            <span id="app-college">UACH Facultad de Ciencias Quimicas</span>
            <div>
                <button class="" mat-flat-button color="accent">Ver mas</button>
            </div>
        </div>
        <div>

        </div>
    </div>
    <div class="content mat-app-background" role="main">
        <section class="section">
            <h2 class="section-title">¿Qué es {{appname}}?</h2>
        </section>
    </div>
</div>
